@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');


html, body, :root {
  height: 100%;
  width: 100%;
}


body {
 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.p-2 {
  margin-top: -10px; /* Ajusta este valor para mover la imagen más arriba */
}

.container {
  display: flex;
  justify-content: center; /* Para centrar el contenido */
  align-items: center; /* Para centrar verticalmente */
  margin-top: 50px; /* Ajusta según tus necesidades */
}

.header {
  background-color: #EA95C4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  font-family: 'DM sans bold', sans-serif;
  border-radius: 10px;
}

.dashboardContainer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.welcome-message {
  font-size: 18px;
  color: white;
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.menu-toggle .bar {
  width: 100%;
  height: 3px;
  background-color: rgb(250, 247, 247);
  transition: 0.3s;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 5% 50%;
}

.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 5% 50%;
}

.container {
  margin-top: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 40%;
  margin-left: 80px;
  padding-bottom: 200px;
}

.img1, .img2 {
  width: 280px;
  height: 111px;
}

.imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
